*.DS_Store
.vscode/
__pycache__
*.pyc

# Ignore downloaded video files and their frames
/data/MS-ASL/videos/
/data/MS-ASL/frames/
/data/MS-ASL/frames224/
data/MS-ASL/videos.tar.gz

# Ignore gem files for Github Pages
/docs/vendor/

# Checkpoints are big. Ignore them in github
/data/checkpoints/

# Ignore testing images
/src/tests/images/