# tensorflow
tensorflow

# Progress bar for extrating frames and training
tqdm

# Tensorflow's high-level API for building and training deep learning model
keras

# Numerical computing
numpy

# PIL
Pillow
